p{
    font-size: 50px;
    color: black;
}
.father{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;

}
.widget{
    flex-basis: 100%;
    height: 300px;
    background: forestgreen;


}
.widgets{
    flex-grow: 1;
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-between;
}
.widgett{
    flex-grow: 1;
    background: cornflowerblue;
    height: 650px;

}
.footer{
    flex-basis: 100%;
    height: 800px;
    background: cyan;
}
