@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    --light-gray: #CED8E1;
    --dark: #102B3E;
    --blue: #6964E2;
}

* {
    margin: 0;
}

.color_light-gray {
    background: var(--light-gray);
}

.color__indigo {
    background: var(--dark);
}

.color_ligth-blue {
    background: var(--blue);
}

.text {
    width: 50px;
    height: 10px;
}

.text1 {
    width: 75px;
    height: 10px;
}

.text2 {
    width: 100px;
    height: 10px;
}

.text3 {
    width: 125px;
    height: 10px;
}

.text4 {
    width: 150px;
}

.text_min {
    width: 10px;
    height: 10px;
}

.h5 {
    height: 5px;
}

.h15 {
    height: 15px;
}

.h20 {
    height: 20px;
}

.w200 {
    width: 200px;
}

.box {
    width: 300px;
    height: 300px;
}

.bdrs20px {
    border-radius: 20px;
}

.df {
    display: flex;
}

.w350 {
    width: 350px;
}

.menu_left_box {
    height: 80px;
    width: 240px;
}

.sps-between {
    justify-content: space-between;
}

.menu_icons > i {
    font-size: 35px;
    color: var(--blue);
}

.bi.bi-list {
    font-size: 55px;
}

.column_gap {
    column-gap: 20px;
}

.row_gap {
    row-gap: 20px;
}

.menu_top {
    padding: 60px 150px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ai-c {
    align-items: center;
}

.menu_center {
    height: 800px;
}

.header {
    padding-bottom: 30px;
}

.header2 {
    margin-top: 100px;
    margin-bottom: 60px;

}

.column {
    flex-direction: column;
}

.big_button {
    height: 40px;
    width: 200px;
    margin-top: 25px;
}

.tree_square {
    column-gap: 40px;
    position: absolute;
    bottom: -170px;
}

.fg {
    flex-grow: 1;
}

.menu_bottom {
    padding-top: 300px;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.menu_bottom > .header {
    padding-bottom: 70px;
}

.box_center > .df.column_gap {
    padding-top: 30px;

}

.box_center {
    display: flex;
    align-items: center;
    width: 100%;
}

.bottom_center {
    padding-top: 80px;
    padding-bottom: 80px;
}

.huge_box {
    height: 400px;
    margin: 40px 20px;
}

.bottom_text {
    padding: 20px 10px 10px 60px;
}

.bot_padding {
    padding-bottom: 20px;
}

.bot_padding1 {
    padding-bottom: 40px;
}

.header3 {
    padding-top: 120px;
}

.h300 {
    height: 300px;
    width: 30%;
}

.slider {
    padding-top: 60px;
    justify-content: space-around;
}

.icon_r {
    font-size: 80px;
    position: absolute;
    right: 116px;
    bottom: -3300px;
}

.icon_l {
    font-size: 80px;
    position: absolute;
    left: 116px;
    bottom: -3300px;
}

.end_content {
    padding: 130px;
}

.circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;

}

.end_text {
    padding: 45px 25px 25px 60px;
}

.p20px {
    padding-bottom: 20px;
}

.end_margin {
    margin-top: 20px;
}

.mini_sq {
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.footer_sq {
    padding: 60px 0 25px;
}

.footer_sq > .column_gap {
    padding-bottom: 60px;
}



