.part_1{

    background: black;
    color:greenyellow;
}
.header {
    text-align: center;
}
.foto_1 {
    top:150px;
    right: 10px;
    max-height: 300px;
    min-width: 300px;
    margin: 20px 30px ;
    border: 25px solid ;
    border-color: forestgreen;
    border-radius:100% ;
    position: fixed;
    /*z-index: -1;*/
}
p {
font-family: Arial;
text-align: justify;


}
.father {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;

    width: 79% ;
    margin: 10px;
}
.father.h2 {
    text-align-last: right;
}
.first_letter {
    margin-left: 35px;

}
.films {
    box-sizing: border-box;
    background: #3b2e2e;
    width: 300px;
    text-align: justify;
    border: 1px solid #2ac746;
    padding: 10px 10px 10px 10px;

    border-radius: 20px;

}
.imeg {
    display: block;
    margin: auto;
}
.button {
    background-color: #3b2e2e;
    color: #20af39;
    text-decoration: none;
    justify-content: center;
    font-size: 20px;
    display: flex;
}

