p{
    font-size: 50px;
    color: black;
}
.father{
    display: flex;
    flex-wrap: wrap;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;

}
.header{
    flex-basis: 100%;
    height: 150px;
    background: silver;
}
.nav{
    flex-basis: 100%;
    height: 100px;
    background: coral;

}
.main{
    background: burlywood;
    flex-grow: 3;
    height: 700px;
}
.aside{
    flex-grow: 1;
    background: blueviolet;
    height: 700px;
}
.footer{
    align-items: flex-end;
    background: gold;
    flex-basis: 100%;
}