
/**{*/
/*    margin: 0;*/
/*}*/
h1{

    font-size: 35px;
    color: #2ac746;
}
.father{
    /*background: #000;*/
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}
.a{
    flex-basis: 100%;
    height: 250px;
    background: salmon;

}
.center{
    display: flex;
    align-items: center;
    justify-content: center;

}
.b{
    flex-grow: 3;
    background: aquamarine;
    height: 690px;
}
.c{
    flex-grow: 1;
    height:690px ;
    background: aqua;
}