* {
    margin: 0;
}

.color__indigo {
    background: indigo;
}

.color_ligth-blue {
    background: lightskyblue;
}

.color_light-gray {
    background: #cad7e0;
}

.icon_menu {
    height: 10px;
    width: 50px;

}

.bdrs20px {
    border-radius: 20px;
}

.df {
    display: flex;
}

.top_menu {
    justify-content: flex-end;
    padding: 30px 150px 30px 0;
}

.row_gap {
    row-gap: 20px;
}

.column_gap {
    column-gap: 20px;
}

.left_box {
    height: 200px;
    flex-basis: 300px;
    margin: 30px 0 80px 150px;
}

.right_icon {
    height: 10px;
    width: 80px;
}

.sps-between {
    justify-content: space-between;
}

.ai-e {
    align-items: flex-end;
}

.right {
    margin: 0 200px 80px;
}

.main_con {
    padding: 200px 0;
    align-items: center;
    justify-content: center;
}

.header__text-1 {
    width: 80px;
    height: 15px;
}

.header__text-2 {
    height: 15px;
    width: 100px;
}

.h8 {
    height: 8px;
}

.w80 {
    width: 80%;

}

.color_gray {
    background: gray;
}

.content_circle {
    padding: 80px 40px;
    align-items: center;

}

.header {
    padding: 40px;
}

.column {
    flex-direction: column;
}

.big_but {
    height: 50px;
    width: 200px;
    border-radius: 50px;
    margin-top: 60px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_con {
    margin-top: 20px;
    margin-bottom: 60px;
}

.border_circl {
    border: 2px solid lightskyblue;
    margin: 40px auto;
}

.fg {
    flex-grow: 1;
}

.box {
    height: 300px;
    border-radius: 20px;
    margin: 30px 25px;
}

.h10 {
    height: 10px;
}

.content_bottom {
    margin: 0 auto;
}

.w350 {
    flex-basis: 350px;
}

.header__text-3 {
    width: 200px;
}

.bdrs50 {
    border-radius: 50%;
}

.margin {
    margin: 0 15px 80px 15px;
}

.border {
    border: 3px solid lightskyblue;
    width: 80%;
    border-radius: 50px;
}

.text_center {
    padding-bottom: 40px;
}

.circle {
    height: 300px;
    width: 300px;
}

.center_2_text {
    padding: 70px 0;
}

.border_cotent {
    border: 2px solid lightskyblue;
    padding: 10px 10px 20px;
    margin: 0 15px;
    box-sizing: border-box;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.center_content_3 {
    margin: 0 auto;
    padding: 20px;
}

.bdsi {
    box-sizing: border-box;
}

.box1 {
    height: 250px;
}

.mini_text {
    width: 20px;
    height: 5px;
}

.pad10 {
    padding: 10px;
}

.border_cotent2 {
    border: 2px solid lightskyblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0 15px;
    border-top: none;
    padding: 10px;

}

.min_sq {
    width: 20px;
    height: 20px;
}

.p50 {
    padding: 50px;
}

.footer_button {
    width: 250px;
    height: 40px;
    margin-top: 20px;
}

.footer_end {
    padding: 60px 0;
}
.sq1{
    width: 30px;
    border-radius: 5px;
    height: 30px;

}
.line{
    width: 400px;
    height: 2px;
    margin-top:25px;
}
.h2{
    height: 2px;
}
.the_end{
    margin: 25px 0;
}

