p{
    font-size: 50px;
    color: black;
}
.father{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;

}
#header{
    flex-basis: 100%;
    height: 200px;
    background: cyan;
}
#menu{
    height: 800px;
    flex-grow: 3;
    background: bisque;
}
.column{
    display: flex;
    flex-direction: column;
    flex-grow: 6;
    row-gap: 20px;
    column-gap: 20px;
}
.post{
    height: 395px;
    background: coral;
}
#footer{
    flex-basis: 100%;
    height: 200px;
    background: cyan;
}

