.father {
    row-gap: 20px;
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 50px;
    color: black;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    background: gold;
    flex-basis: 100%;
    height: 300px;
}

.mather {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    height: 1000px;
    /*background: burlywood;*/
    row-gap: 20px;
    column-gap: 20px;
    align-content: flex-start;


}

.f {
    flex-grow: 1;
    height: 1000px;
    background: aqua;
}
.b {

    background: blueviolet;
    flex-basis: 100%;
    height: 500px;
}

.c {
    background: silver;
    flex-grow: 1;
    height: 480px;
}



.d {

    background: green;
    flex-grow: 1;
    height: auto;

}

.e {
    background: chartreuse;
    flex-grow: 1;
    height: auto;

}