@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
    --light-gray: #CED8E1;
    --dark: #102B3E;
    --blue: #6964E2;
}

* {
    margin: 0;
}

.color_light-gray {
    background: var(--light-gray);
}

.color__indigo {
    background: var(--dark);
}

.color_ligth-blue {
    background: var(--blue);
}

.text {
    width: 50px;
    height: 10px;
}

.text1 {
    width: 75px;
    height: 10px;
}

.text2 {
    width: 100px;
    height: 10px;
}

.text3 {
    width: 125px;
    height: 10px;
}

.text4 {
    width: 150px;
}

.text_min {
    width: 10px;
    height: 10px;
}

.h5 {
    height: 5px;
}

.h15 {
    height: 15px;
}

.h20 {
    height: 20px;
}

.h30 {
    height: 30px;
}

.w200 {
    width: 200px;
}

.box {
    width: 300px;
    height: 300px;
}

.bdrs20px {
    border-radius: 20px;
}

.df {
    display: flex;
}

.w350 {
    width: 350px;
}

.box_header {
    width: 250px;
    height: 80px;
}

.top_text {
    align-items: flex-end;
}

.column_gap {
    column-gap: 20px;
}

.menu {
    justify-content: space-between;
    padding: 30px 150px;
    position: relative;
}

.top_text::after {
    content: "";
    width: 100px;
    height: 10px;
    border-radius: 20px;
    top: 40px;
    right: 150px;
    position: absolute;
    background: var(--blue);

}

.top_text::before {
    content: "";
    width: 100px;
    height: 10px;
    border-radius: 20px;
    top: 40px;
    right: 270px;
    position: absolute;
    background: var(--blue);
}

.menu__center_button {
    height: 60px;
    width: 250px;
    margin-top: 100px;
}

.mar_t {
    margin-top: 25px;
}

.mar_b50 {
    margin-bottom: 50px;
}

.menu__center_content {
    padding: 200px;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.column {
    flex-direction: column;
}

.center__left_content {
    width: 48%;
    margin-top: 80px;
}
.center__right_content {
    width: 48%;
    margin-top: 80px;
}

.big_box {
    width: 95%;
    height: 602px;
}

.p_b {
    padding-bottom: 40px;
}
.p_b20{
    padding-bottom: 20px;
}
.mini_sq {
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
.icon_r {
    font-size: 80px;
}
.icon_l {
    font-size: 80px;
}
.slider{
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.center__content{
    margin: auto;
    justify-content: space-between;
}

.conteiner_row__text{
    padding-left:40px ;
    padding-top: 20px;

}
.mar_t96{
   margin-top: 96px;
}
.sps-between{
    justify-content: space-between;
}
.center__center_content{
    display: flex;
    justify-content: center;
    padding:100px 0 60px;
}
.center__big_box{
    width: 80%;
    margin: 30px auto;


}
.big_box1{
    box-sizing: border-box;
    width: 50%;
    height: 400px;
}
.mini_box{
    height: 400px;
    width: 30%;
}
.ma30{

    margin-right: 30px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;

}
.circle {
    border-radius: 50%;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;


}

.center__circle_box{
    margin: 80px 200px 140px;
    justify-content: space-around;
}
.left_footer{
    margin:80px 0 80px;
}
.box_mini-sq{
    margin-bottom: 100px;
}
.right_footer{


    padding-left: 100px;
}
.footer_end{
    padding: 0 60px;
}
.footer{

     width: 80%;
    margin: 0 auto;
 }






