@media screen and (min-width: 375px) and (max-width: 500px){
    .logo img{
        height: 50px;
    }
    .header__menu{
        display: none;
    }
    .header__top{
        padding-top: 0;
    }
    .header__top_menu{
        padding:28px 18px 0;

    }
    .position__div{
        position: absolute;
    }
    .burger{
        display: block;
        height: 3px;
        width: 31px;
        background: #FF7400;
        border-radius: 50px;
        position: relative;

    }
    .burger::after,
    .burger::before{
        content: "";
        height: 3px;
        width: 31px;;
        background: #FF7400;
        border-radius: 50px;
        position:absolute ;
    }
    .burger::after{
        top: 10px;
    }
    .burger::before{
        bottom: 10px;
    }
    .media__center {
        display: flex;
        position: relative;
        justify-content: center;
    }
    .position__div{
        top: 210px;
        row-gap: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header{
        height: 800px;
    }

    .position__div{
        flex-direction: column;
        align-items: center;

    }
    .header__text h2{
    font-size: 30px;
    line-height: 34px;
}
    .header__text h1{
        font-size: 40px;
        line-height: 46px;

    }
    .header__text p {
        font-size: 15px;
        line-height: 20px;

    }
    .header__text p::after,
    .header__text p::before{
        display: none;
    }

}