@media screen and (min-width: 375px) and (max-width: 450px) {
    .logo img {
        height: 50px;
    }

    .header__menu {
        display: none;
    }

    .header__top {
        padding-top: 0;
    }

    .header__top_menu {
        padding: 28px 18px 0;

    }

    .position__div {
        position: relative;
    }

    .burger {
        display: block;
        height: 3px;
        width: 31px;
        background: #FF7400;
        border-radius: 50px;
        position: relative;

    }

    .burger::after,
    .burger::before {
        content: "";
        height: 3px;
        width: 31px;;
        background: #FF7400;
        border-radius: 50px;
        position: absolute;
    }

    .burger::after {
        top: 10px;
    }

    .burger::before {
        bottom: 10px;
    }

    .media__center {
        display: flex;
        position: relative;
        justify-content: center;
    }

    .position__div {
        top: 210px;
        row-gap: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header {
        height: 800px;
    }

    .position__div {
        flex-direction: column;
        align-items: center;

    }

    .header__text h2 {
        font-size: 30px;
        line-height: 34px;
    }

    .header__text h1 {
        font-size: 40px;
        line-height: 46px;

    }

    .header__text p {
        font-size: 15px;
        line-height: 20px;

    }

    .header__text p::after,
    .header__text p::before {
        display: none;
    }

    .center__box {
        padding-top: 980px;
        flex-direction: column;
    }

    .left__side_text {
        width: 80%;
        text-align: center;
        padding-top: 48px;
        margin-bottom: 40px;

    }

    .header__bot_left-side h2 {
        display: flex;
        text-align: center;
        flex-direction: column;

    }

    .left__side_number {
        flex-direction: column;
    }

    .left__side_number p {
        margin-top: 10px;
        margin-bottom: 60px;
    }

    .images img {
        width: 100%;
    }

    .header_2__text_left h2 {
        font-size: 30px;
        margin: 20px 80px;
        text-align: center;
        justify-content: center;
        align-items: flex-start;
    }

    .header_2 {
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        position: relative;
    }

    .header_2__text_left {
        width: 100%;
        padding-top: 0;
    }

    .header_2__text p {
        margin: 10px 20px;
        text-align: center;
    }

    .wrapper_no {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .but_med > button {
        position: absolute;
        bottom: 30px;
        margin: 0 30%;
    }
    .main_content h2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .maine_content__maine_blok {
        flex-direction: column;
        align-items: flex-start;
    }
    .left__blok_mini-foto{
        box-sizing: border-box;
        width: 97%;
        margin: 50px 0 0;
    }
    .maine_content__price p{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right:30px;
    }
    .maine_content__price p span{
        display: none;
    }
    .big_foto img{
        width: 100%;
        max-width: 500px;
    }
    .header_3 .wrapper >h2{
        margin-top: 53px;
        padding-right: 34px;
    }
    .hidden{
        display: none;

    }
    .comments__text p{
        margin: 0 50px 20px;
    }
    .comments{
        padding: 20px 0;
    }
    .point_media{
        display: flex;
        column-gap: 9px;

        margin-bottom: 20px;
        margin-top: 30px;
        align-items: center;

    }
    .point{
        border-radius: 50% ;
        width: 5px;
        height: 5px;
        background: #C4C4C4;
    }
    .point_border{
        height: 5px;
        width: 5px;
        border: 1px solid red ;
        border-radius: 50px;
    }
    .gallery h2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .gallery{
        flex-wrap: wrap;
    }
    .gallery__foto_2{
        flex-direction: column;
        row-gap: 30px;
    }
    .gallery img{
        width: 350px;
        height: 350px;
    }
    .gallery_2 .df .padding-t .column_gap{
        flex-direction: column;
    }

    .gallery_3 h2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .media{
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }
    .footer{
        margin-top: 21px;
    }
    .no_media{
        display: none;
    }
}