.center{
    display: flex;
    align-items: center;
    justify-content: center;

}
.father {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;

}

p {
    font-size: 50px;
    color: #000;
}

.a {
    flex-basis: 100%;
    height: 200px;
    background: silver;
}

.mather {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-evenly;

}

.b {
    flex-basis: 400px;
    height: 400px;
    background: #7c3a3a;
}

.c {
    background: #7c3a3a;
    flex-basis: 400px;
    height: 400px;
}

.d {
    background: #7c3a3a;
    flex-basis: 400px;
    height: 400px;
}

.e {
    flex-basis: 400px;
    height: 400px;
    background: #7c3a3a;

}

.f {
    background: #7c3a3a;
    flex-basis: 400px;
    height: 400px;
}

.g {

    background: #7c3a3a;
    flex-basis: 400px;
    height: 400px;
}

.h {
    flex-grow: 1;
    background: #4a6948;
}